<h1 style="text-align: center">Tell me a joke</h1>
<div class="flex">
  <div>
    <div *ngIf="joke$ | async as joke; else noJoke">
      <p>{{ joke.id }}</p>
      <p>{{ joke.type }}</p>
      <p>{{ joke.setup }}</p>
      <p>{{ joke.punchline }}</p>
    </div>
    <div>
      <button type="button" (click)="getJoke()">Get By Observable</button>
    </div>
  </div>

  <div>
    <div *ngIf="jokePromise$ | async as joke; else noJoke">
      <p>{{ joke.id }}</p>
      <p>{{ joke.type }}</p>
      <p>{{ joke.setup }}</p>
      <p>{{ joke.punchline }}</p>
    </div>
    <div>
      <button type="button" (click)="getJokeByPromise()">Get By Promise</button>
    </div>
  </div>
</div>
<br />
<hr />
<h1 style="text-align: center">Tell me a joke about Programming</h1>
<div class="flex">
  <div>
    <div *ngIf="jokeProgramming$ | async as joke; else noJoke">
      <p>{{ joke.id }}</p>
      <p>{{ joke.type }}</p>
      <p>{{ joke.setup }}</p>
      <p>{{ joke.punchline }}</p>
    </div>
    <div>
      <button type="button" (click)="geProgrammingJokes()">
        Get By Observable
      </button>
    </div>
  </div>
</div>

<ng-template #noJoke> No Joke for you today ! </ng-template>
